@media screen and (min-width: 600px) and (orientation: portrait) {
  header {
    width: 100%;
    height: 40vh;
  }

  .navigation {
    width: 100%;
    height: 5%;
    position: fixed;
  }
  .banner {
    width: 100%;
    height: 40vh;
    margin-right: 0%;
  }

  .minibanner {
    width: 40%;
    height: 22vh;
    margin-right: 12%;
    border-radius: 5px;
  }
  .minibanner h3 {
    font-size: 20px;
  }
  .minibanner p {
    font-size: 18px;
  }

  /* Service 
     */

  .service {
    width: 100%;
    height: 140vh;
  }
  .servicebanner {
    padding-top: 5%;
    margin-left: 0%;
    width: 100%;
    height: 15vh;
    margin-left: 6%;
  }
  .servicebanner h1 {
    margin-left: 0%;

    font-size: 30px;
  }
  .servicebanner p {
    margin-left: 0%;
    font-size: 19px;
  }

  .points a {
    background-color: #f35921;
    text-decoration: none;
    color: white;
    padding: 3%;
    border-radius: 10px;
  }

  .points {
    margin-left: 2%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 23% 23% 23%;
    column-gap: 5%;
    row-gap: 1%;
  }
  figure {
    display: flex;
    flex-direction: column;
    align-content: center;

    justify-content: space-around;
    width: 89%;
    height: 35vh;

    padding: 4%;
    border: ridge rgba(133, 133, 133, 0.582);
    border-style: ridge;
    border-radius: 7px;
    border-width: 1px;
  }
  figure img {
    margin: 0;
    padding: 0;
    width: auto;
    height: 39%;
    border-radius: 5px;
  }
  figure a {
    align-self: center;
  }
  /* Products 
      

      .*/

  .prod {
    height: 137vh;
    padding-top: 5%;
  }
  .prodbanner {
    width: 100%;
    height: 10%;
  }
  .prodbanner h1 {
    padding: 13% 0 10% 22%;
    margin-bottom: 15%;
  }

  .products {
    width: 100%;
    height: 160vh;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 23% 23% 23%;
    margin-left: 3%;
    column-gap: 3%;
    row-gap: 2%;
  }
  .products figure {
    border-radius: 10px;
  }

  .products figure img {
    height: 100px;
    width: auto;
  }
  .products figure h3 {
    font-size: 18px;
  }
  .products figure p {
    font-size: 13px;
    padding-left: 7%;
  }

  /* Contacts
   
      */
  .contact {
    padding-top: 0%;
  }
  .contactbanner {
    width: 100%;
    height: auto;
  }
  .contactbanner h1 {
    padding: 12% 0 5% 20%;
  }
  section .contact {
    width: 100%;
  }
  section .contactus {
    width: 100%;
    height: 52vh;

    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 100%;
  }
  .contactus .message input {
    width: 50%;
    height: 10%;
    padding: 1%;
    margin: 2%;
    border-radius: 5px;
    border-width: thin;
  }

  .contactus .message textarea {
    width: 51%;
    height: 60px;
    display: block;
  }
  /* Footer
      */

  .footer-info {
    display: flex;
    justify-content: flex-start;

    color: rgba(13, 41, 43, 0.473);
  }
  .copyright {
    width: 74%;
    justify-self: center;
  }
  .socialicons {
    margin-top: 5%;
    margin-left: 30%;
    padding: 0px;
  }
  .socialicons .textad {
    justify-content: center;
  }
  .socialicons a {
    padding: 10px;
  }
  section {
    overflow: hidden;
  }
}
